<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- HEADER -->
    <div th:insert="common/header.html" id="header"></div>



	로그인 페이지 입니다
	<br/>
	ID : <input type="text">
	<br/>
	PASSWORD : <input type="password">
	<br/><br/><br/><br/>
	로그인 하면 아래 페이지 확인 가능
	<br/>
	<a href="/postWritePage" class="">글 쓰기</a>
	<br/>
	<a href="/postEditPage" class="">글 수정</a>
	<br/>
	<a href="/postListPage" class="">글 목록</a>
	<br/>
	<a href="/postDetailPage" class="">글 상세페이지</a>
	<br/>
	
	
	<!-- FOOTER -->
    <div th:insert="common/footer.html" id="footer"></div>
</body>
</html>