<!DOCTYPE html>
<html
lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout}">
<head>
	<title>로그인 페이지</title>
	<link href="/css/logIn/logInPage.css" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="content">
	<div class="card align-middle text-center cardDiv">
		<div class="card-title cardTitleDiv" >
			<h2 class="card-title text-center cardTitleH2">로그인</h2>
		</div>
		<div class="card-body">
			<form class="form-signin" method="POST" action="/SecuritylogIn">
				<h5 class="form-signin-heading">로그인 정보를 입력하세요</h5>
				<br/>
				
				<label for="mbr_id" class="sr-only">Your ID</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="아이디" required autofocus>
				<BR>
				
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="mbr_pwd" name="mbr_pwd" class="form-control" placeholder="비밀번호" required>
				<br>
				
				<a href="/signUpPage" class="nav-link signUpPage">회원가입</a>
				
				<button id="logInBtn" class="btn btn-lg btn-dark btn-block"
					type="submit">로 그 인</button>
			</form>

		</div>
	</div>
</th:block>
</body>
</html>